.main-chat
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group{"data-group_id": @group.id}
        = @group.name
      .main-header__left-box__member-list
        Member:
        .main-header__left-box__member-list__member
          - @group.group_users.each do |group_user|
            = group_user.user.name
    = link_to edit_group_path (current_user) do
      .main-header__left-box__edit-btn  Edit


  .message
    = render @messages

 

  .form
    = form_for [@group, @message] do |f|
      .new-messages
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          .form__image
            = f.label :image, class: 'input-box__image' do
              = icon('fas', 'image', class: 'icon')
              = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'

    